@using System.Linq;
@using Logic;
@{
    Election election = ViewBag.Election;
    ViewData["Title"] = "Election: " + election.Name;
}
<h2>Verkiezing: @election.Name</h2>
<h3>Te verdelen zetels: @election.DistributableSeats</h3>
@if (election.PartyProfiles.Any())
{
    <h4>Stemmen: @election.PartyProfiles.Sum(party => party.Votes)</h4>
}
<h5>Datum: @election.Date.ToString("dd/MM/yyyy")</h5>
<hr />
<div class="results-container">
    @if (election.PartyProfiles.Any())
    {
        @foreach (PartyProfile party in election.PartyProfiles)
        {
            <div class="card account-body">
                <div class="card-body">
                    <h3><a class="card-title" asp-controller="Party" asp-action="info" asp-route-id="@party.ID">@party.Party.Abbreviation</a></h3>
                    <a class="card-text">Stemmen: @party.Votes</a>
                    <a class="card-text">Zetels: @party.Seats</a>
                </div>
            </div>
        }
    }
</div>
<form asp-action="AddParty">
    <button type="submit" method="post" class="button-negative" asp-controller="Election"
            asp-action="AddParty" asp-route-election="@election">
        Add Party
    </button>
</form>


